//
// preTTY
//
// (c) 2016 Sanjeev Premi (spremi@ymail.com)
//
// SPDX-License-Identifier: BSD-3-Clause
//                          (http://spdx.org/licenses/BSD-3-Clause.html)
//


.pt-main-info
  width       60% !important
  height      60% !important
  overflow-y  auto
  user-select none

.pt-main-list
  width       60% !important
  height      60% !important
  overflow-y  none
  user-select none

.pt-main-list md-content
  height      calc(100% - 64px)

.pt-main-list md-card md-card-title
  padding     8px

.pt-main-list md-card md-card-title md-card-title-text .md-subhead
  padding-top 4px
