//
// preTTY
//
// (c) 2016 Sanjeev Premi (spremi@ymail.com)
//
// SPDX-License-Identifier: BSD-3-Clause
//                          (http://spdx.org/licenses/BSD-3-Clause.html)
//


pt-header h3
  font-family   opensans-semibold

pt-header h4
  font-family   opensans
  font-weight   normal
